<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    {{ bootstrap.load_css() }}
    {% block title %}{% endblock%}
</head>

<body>
<header>
    <nav>
        <li><a href="login.html">Sign in</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    © 2024 -  Gerenciamento de Gastos     
</footer>
</body>