<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    {{ bootstrap.load_css() }}
    {% block title %}{% endblock%}
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Gerenciamento de Gastos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registrar">Registrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Configurações</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Conteúdo principal da página -->
<div class="container main-container">
    {% block content %}
    <!-- O conteúdo da página será inserido aqui -->
    {% endblock %}
</div>

<!-- Rodapé -->
<footer>
    <p>&copy; 2024 Gerenciamento de Gastos | Todos os direitos reservados.</p>
</footer>

    {{ bootstrap.load_js() }}
</body>