{% extends "base.html" %} {% block title %}<title>Inicio</title>{% endblock%} {%
block content %}
<div class="text-center">
  <h1 class="display-4">DashBoard</h1>
  <p class="lead">De uma olhada nas suas despesas e em seu saldo atual:</p>

  <!-- Exemplo de Cards de Status -->
  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Saldo Atual</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Seu saldo atual disponível.</p>
          <p>5.000</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-danger mb-3">
        <div class="card-header">Despesas Totais</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">O total de suas despesas no mês.</p>
          <p>3.500</p>
        </div>
      </div>
    </div>
  </div>
  <!-- fromulario econdido -->
  <div class="collapse mt-3" id="myForm">
    <form class="row g-3 col" method="POST" action="{{ url_for('expenseRoute.AddExpense') }}">
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Descrição</label>
        <input
          type="text"
          class="form-control"
          id="validationDefault01"
          required
          name="description"
        />
      </div>

      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Valor</label>
        <input
          type="text"
          class="form-control"
          id="validationDefault02"
          required
          name="amont"
        />
      </div>

      <div class="col-md-4">
        <label for="validationDefaultUsername" class="form-label">Tipo</label>
        <div class="input-group">
          <select class="form-select" id="validationDefault04" required>
            <option selected disabled value="" name="type">Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="validationDefault03" class="form-label"
          >Data da Compra</label
        >
        <input
          type="text"
          class="form-control"
          id="validationDefault03"
          required
          name="date_expense"
        />
      </div>

      <div class="col-md-6">
        <label for="validationDefault04" class="form-label">Categoria</label>
        <div class="input-group">
          <select class="form-select" id="validationDefault04" required>
            <option selected disabled value="" name="category">Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <div class="col-12">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="invalidCheck2"
            required
          />
          <label class="form-check-label" for="invalidCheck2">
            Agree to terms and conditions
          </label>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
  </div>

  <!-- botao de exibicao de usuario -->

  <div class="mt-5">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#myForm"
      aria-expanded="false"
      aria-controls="myForm"
    >
      Adicionar Despesa
    </button>
    <a href="#" class="btn btn-secondary btn-lg">Ver Relatórios</a>
  </div>

  {% endblock %}
</div>
