{% extends "base.html" %} {% block title %}<title>Inicio</title>{% endblock%} {%
block content %}
<div class="text-center">
  <h1 class="display-4">DashBoard</h1>
  <p class="lead">De uma olhada nas suas despesas e em seu saldo atual:</p>

  <!-- Exemplo de Cards de Status -->
  <div class="row justify-content-center mt-4" >

    <div class="col-md-4" >
      <div class="card text-white bg-success mb-3" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.699);">
        <div class="card-header">Saldo Atual</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Seu saldo atual disponível.</p>
          <p>5.000</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-danger mb-3" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.699);">
        <div class="card-header">Despesas Totais</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">O total de suas despesas no mês.</p>
          <p>3.500</p>
        </div>
      </div>
    </div>
    
  </div>
  <!-- botao de exibicao de usuario -->

  <div class="mt-5">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#myForm"
      aria-expanded="false"
      aria-controls="myForm"
    >
      Adicionar Despesa
    </button>
    <button href="#" class="btn btn-secondary">Ver Relatórios</button>
  </div>

    <!-- fromulario econdido -->
    <div class="collapse mt-3" id="myForm">
      <form class="row g-3 col" method="POST" action="{{ url_for('expenseRoute.AddExpense') }}">
        <div class="col-md-4">
          <label for="validationDefault01" class="form-label">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault01"
            required
            name="description"
          />
        </div>
  
        <div class="col-md-4">
          <label for="valor" class="form-label">Valor (R$)</label>
        <input
          type="number"
          class="form-control"
          id="valor"
          name="amont"
          step="0.01" 
          min="0"  
          required
          placeholder="0.00"
        />
        </div>
  
        <div class="col-md-4">
          <label for="validationDefaultUsername" class="form-label">Tipo</label>
          <div class="input-group">
            <select class="form-select" id="validationDefault04" name="type" required>
              <option selected disabled value="" >Choose...</option>
              <option>Fixo</option>
              <option>Variavel</option>
            </select>
          </div>
        </div>
  
        <div class="col-md-6">
          <label for="validationDefault03" class="form-label"
            >Data da Compra</label
          >
          <input
            type="date"
            class="form-control"
            id="validationDefault03"
            required
            name="date_expense"
          />
        </div>
  
        <div class="col-md-6">
          <label for="validationDefault04" class="form-label">Categoria</label>
          <div class="input-group">
            <select class="form-select" id="validationDefault04" name="category" required>
              <option selected disabled value="">Choose...</option>
              <option>Comida</option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
    </div>
</div>
{% endblock %}
