{% extends "base.html" %} {% block title %}<title>Inicio</title>{% endblock%} {%
block content %}
<div class="text-center">
  <h1 class="display-4">
    Bem-vindo(a){% if current_user.is_authenticated %}, {{ current_user.nome }} {%
    endif %}
  </h1>
  <p class="lead">
    Aqui você pode controlar suas despesas e acompanhar seu orçamento de forma
    eficiente.
  </p>
</div>

<hr class="hr" />

{% if current_user.is_authenticated %}
<div class="container text-center">
  <h3 class="h3">Sua Atividade</h3>

  <div class="row">
    {% for expense in last_expenses %}
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ expense.description }} - {{expense.date.strftime('%d/%m/%Y') }}</h5>
          <p class="card-text">
            Valor R$:{{ "{:.2f}".format(expense.amount).replace('.', ',') }} <br>
            
          </p>
          <a href="#" class="btn btn-primary">Ver Gasto</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}

<div class="container text-center">
  <div class="row text-center">
    <div class="col text-center">
      <p class="lead">Primeira vez aqui? Registre-se</p>
      <a type="button" class="btn btn-primary" href="/registrar">Registrar</a>
    </div>

    <div class="col text-center">
      <p class="lead">Ja tem cadastro?</p>
      <a type="button" class="btn btn-primary" href="/login">Login</a>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
